# Aero Framework Environment Configuration

# APP Config
APP_NAME="Aero Framework"
APP_ENV=development
APP_DEBUG=true

# API Config
# URL untuk Backend (dikirim langsung ke Frontend JS dan HttpClient backend)
API_BASE_URL=https://localhost
